<%- include('./partials/head') %>
<% console.log(member) %>
<body>

    <header>
        <ul>
            <li>
                <a href="https://www.instagram.com/steef.media/">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2.15938C15.1963 2.15938 15.5789 2.15939 16.8423 2.22986C17.6023 2.23489 18.3574 2.37584 19.0671 2.64261C20.109 3.0453 20.9345 3.87078 21.3372 4.91272C21.604 5.62245 21.745 6.37751 21.75 7.13757C21.8104 8.40099 21.8205 8.78354 21.8205 11.9798C21.8205 15.1762 21.8205 15.5587 21.75 16.8221C21.745 17.5822 21.604 18.3372 21.3372 19.0469C20.9345 20.0889 20.109 20.9144 19.0671 21.3171C18.3574 21.5839 17.6023 21.7248 16.8423 21.7298C15.5789 21.7902 15.2013 21.8003 12 21.8003C8.79866 21.8003 8.42115 21.8003 7.15773 21.7298C6.39766 21.7248 5.64264 21.5839 4.93291 21.3171C3.89096 20.9144 3.06545 20.0889 2.66277 19.0469C2.39599 18.3372 2.25505 17.5822 2.25001 16.8221C2.18961 15.5587 2.17954 15.1762 2.17954 11.9798C2.17954 8.78354 2.17954 8.40099 2.25001 7.13757C2.25505 6.37751 2.39599 5.62245 2.66277 4.91272C3.06545 3.87078 3.89096 3.0453 4.93291 2.64261C5.64264 2.37584 6.39766 2.23489 7.15773 2.22986C8.42115 2.16946 8.8037 2.15938 12 2.15938ZM12 0C8.74833 0 8.34061 -2.33493e-05 7.06209 0.0704464C6.06544 0.0905806 5.08389 0.281879 4.15268 0.629194C2.53188 1.24832 1.24832 2.53188 0.629194 4.15268C0.281879 5.08389 0.0906113 6.06541 0.0704771 7.06206C0.015108 8.34058 0 8.7483 0 12C0 15.2516 7.37307e-06 15.6594 0.0704771 16.9379C0.0906113 17.9345 0.281879 18.9161 0.629194 19.8473C1.24832 21.4681 2.53188 22.7516 4.15268 23.3708C5.08389 23.7181 6.06544 23.9094 7.06209 23.9295C8.34061 23.9849 8.74833 24 12 24C15.2517 24 15.6594 24 16.9379 23.9295C17.9346 23.9094 18.9161 23.7181 19.8473 23.3708C21.4681 22.7516 22.7517 21.4681 23.3708 19.8473C23.7181 18.9161 23.9094 17.9345 23.9295 16.9379C23.9849 15.6594 24 15.2516 24 12C24 8.7483 24 8.34058 23.9295 7.06206C23.9094 6.06541 23.7181 5.08389 23.3708 4.15268C22.7517 2.53188 21.4681 1.24832 19.8473 0.629194C18.9161 0.281879 17.9346 0.0905806 16.9379 0.0704464C15.6594 0.0150773 15.2517 0 12 0Z" fill=""/>
                        <path d="M12 5.82385C8.60235 5.82385 5.84901 8.57719 5.84901 11.9748C5.84901 15.3725 8.60235 18.1258 12 18.1258C15.3976 18.1258 18.151 15.3725 18.151 11.9748C18.151 8.57719 15.3976 5.82385 12 5.82385ZM12 15.9664C9.7953 15.9664 8.0084 14.1795 8.0084 11.9748C8.0084 9.77014 9.7953 7.98324 12 7.98324C14.2047 7.98324 15.9916 9.77014 15.9916 11.9748C15.9916 14.1795 14.2047 15.9664 12 15.9664Z" fill=""/>
                        <path d="M18.3926 7.02175C19.1877 7.02175 19.8322 6.37723 19.8322 5.58217C19.8322 4.7871 19.1877 4.14258 18.3926 4.14258C17.5976 4.14258 16.953 4.7871 16.953 5.58217C16.953 6.37723 17.5976 7.02175 18.3926 7.02175Z" fill=""/>
                        </svg>
                        
                    Instagram
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stefan-van-der-kort-196513158/">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.923043 7.94624H5.89638V23.9395H0.923043V7.94624ZM3.41223 0C5.00451 0 6.29444 1.28993 6.29444 2.88221C6.29444 4.47448 5.00451 5.76444 3.41223 5.76444C1.81996 5.76444 0.530029 4.47448 0.530029 2.88221C0.530029 1.28993 1.81996 0 3.41223 0Z" fill=""/>
                        <path d="M9.01543 7.94624H13.7771V10.1331H13.8678C14.8403 8.47029 16.6443 7.48268 18.5691 7.55322C23.6079 7.55322 24.53 10.8637 24.53 15.1669V23.9395H19.5617V16.1646C19.5617 14.3103 19.5315 11.9219 16.9818 11.9219C14.4322 11.9219 13.9989 13.9374 13.9989 16.0286V23.9395H9.03557L9.01543 7.94624Z" fill=""/>
                    </svg>     
                    LinkedIn
                </a>
            </li>
            <li>
                <a href="https://github.com/Stefan-Espant">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9737 0C5.36303 0 0 5.36303 0 11.9737C0 17.1254 3.30033 21.7036 8.19042 23.3336C8.78911 23.4443 9.00544 23.072 9.00544 22.7601V20.5314C5.67494 21.2508 4.98067 19.1177 4.98067 19.1177C4.43732 17.7341 3.65248 17.3619 3.65248 17.3619C2.5658 16.6223 3.733 16.6374 3.733 16.6374C4.50273 16.743 5.18193 17.1958 5.56931 17.87C6.63588 19.7013 8.37152 19.173 9.05573 18.8762C9.10604 18.2674 9.37772 17.6989 9.81541 17.2763C7.15403 16.9745 4.35683 15.9431 4.35683 11.3549C4.34174 10.1676 4.78444 9.01549 5.59443 8.14513C5.22717 7.11378 5.26747 5.97679 5.71019 4.97563C5.71019 4.97563 6.71634 4.65365 9.0004 6.20319C10.9625 5.66487 13.0353 5.66487 14.9973 6.20319C17.2864 4.65365 18.2876 4.97563 18.2876 4.97563C18.7303 5.97679 18.7706 7.11378 18.4033 8.14513C19.2133 9.01549 19.656 10.1676 19.6359 11.3549C19.6359 15.9582 16.8387 16.9694 14.1722 17.2663C14.7508 17.8549 15.0426 18.6649 14.9822 19.4849V22.7701C14.9822 23.0871 15.1986 23.4594 15.8073 23.3437C22.0809 21.2558 25.4718 14.4741 23.384 8.20049C21.7539 3.30537 17.1707 0.00504079 12.0139 0.0100718L11.9737 0Z" fill=""/>
                        <path d="M4.53288 17.1908C4.53288 17.2512 4.41722 17.2663 4.33169 17.2261C4.24616 17.1858 4.19581 17.1053 4.22096 17.0449C4.24612 16.9846 4.34172 16.9695 4.42725 17.0097C4.51278 17.05 4.56307 17.1305 4.53288 17.1908Z" fill=""/>
                        <path d="M5.02092 17.7291C4.96558 17.7845 4.84981 17.7593 4.77435 17.6738C4.69889 17.6134 4.68382 17.5077 4.73916 17.4272C4.79953 17.3719 4.90518 17.397 4.98567 17.4826C5.06617 17.5681 5.0813 17.6788 5.02092 17.7291Z" fill=""/>
                        <path d="M5.49384 18.4234C5.41837 18.4737 5.29762 18.4234 5.22718 18.3177C5.15675 18.2121 5.15172 18.0813 5.22718 18.031C5.30265 17.9807 5.41837 18.031 5.49384 18.1316C5.5693 18.2322 5.5693 18.368 5.49384 18.4234Z" fill=""/>
                        <path d="M6.13782 19.0875C6.07242 19.1579 5.93156 19.1378 5.83094 19.0422C5.73032 18.9466 5.6951 18.8058 5.76554 18.7353C5.83597 18.6649 5.9718 18.685 6.07242 18.7806C6.17304 18.8762 6.20826 19.017 6.13782 19.0875Z" fill=""/>
                        <path d="M7.03336 19.4749C7.00317 19.5654 6.86728 19.6107 6.73145 19.5704C6.59561 19.5302 6.51008 19.4195 6.53523 19.3239C6.56039 19.2283 6.7013 19.1881 6.83714 19.2283C6.97298 19.2686 7.05851 19.3793 7.03336 19.4749Z" fill=""/>
                        <path d="M8.00932 19.5453C8.00932 19.646 7.89864 19.7264 7.75777 19.7264C7.61691 19.7264 7.49615 19.651 7.49615 19.5554C7.49615 19.4598 7.60684 19.3743 7.75274 19.3692C7.89864 19.3642 8.00932 19.4497 8.00932 19.5453Z" fill=""/>
                        <path d="M8.92495 19.3893C8.92495 19.4849 8.83945 19.5855 8.69858 19.6107C8.55771 19.6359 8.43197 19.5805 8.41688 19.4849C8.40179 19.3893 8.49735 19.2837 8.63821 19.2585C8.77908 19.2334 8.90483 19.2937 8.92495 19.3893Z" fill=""/>
                        </svg>
                        
                    Github
                </a>
            </li>
        </ul>
    </header>

    <main>

        <section class="fullname">
                <h1 class="name"><%- member.name %></h1>
                <h1 class="surname"><%- member.prefix %> <%- member.surname %></h1>
        </section>
        <section class="business-card">
            <article>
                <img src=" <%- member.avatar %> " alt="<%- member.name %> <%- member.prefix %> <%- member.surname %>" />
            </article>
            <article>
                <h2><%- member.name %> <%- member.prefix %> <%- member.surname %></h2>
                <p> <%- member.role %> <%- member.squads.name %> <%- member.squads.cohort %> </p>
                    <p><%- member.bio.html %></p>
            </div>
        </section>
        <section class="comments">
            <% member.shouts.forEach(shout => { %>
                <article>
                  <h2><%= shout.author %></h2>
                  <p><%= shout.text %></p>
                </article>
                <% }) %>
        </section>

    </main>

    <%- include('./partials/dialog.ejs') %>

    <%- include('./partials/foot') %>