<%- include('./partials/head') %>

<body>
  <header>
    <div>
      <h1><%= member.name %> <%= member.prefix %> <%= member.surname %></h1>
    </div>
  </header>

  <%- include('./partials/nav') %>

  <main>
    <div class="card__content">
      <div>
        <h2 id="over-mij">Over <%= member.name %></h2>
        <p>
          <%= member.bio.html %>
        </p>
      </div>
      <figure>
        <img src=" <%= member.avatar %> " alt="Image description">
      </figure>
    </div>

    <%- include('./partials/socials') %>

  </main>


<%- include('./partials/foot') %>
